<p>Hello {{ login }} !</p>
<p>Confirme ta connexion avec le code ci dessous</p>
<p>{{ code }}</p>
<p>Le code ne sera valable que pendant les 10 prochaines minutes.</p>

<p>Si vous n'êtes pas à l'origine de cet email, vous pouvez l'ignorer.</p>